<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 600px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <center> <h3>Map News</h3> </center>
    <!--The div element for the map -->
    <div id="map"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
    $.get('get_values/',  function (data, status) {
            console.log(`${data}`)
    })
  var uluru = {'lat': 51.50072919999999, 'lng': -0.1246254};

  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8cJ8gn9EZydJLK-MsZL3vpLgfmb8nmjs&callback=initMap">

    </script>

  </body>
</html>
